.console
  font-size: 13px
  font-family: monospace
  padding: 2px
  width: 400px

  & >
    .actions

    textarea, .output
      font-size: 13px
      font-family: monospace

    .output
      height: 20px
      margin: 4px 0
      overflow: auto

    .CodeMirror-wrapping
      border: 1px solid #CCC

      .CodeMirror-line-numbers
        background-color: transparent
        border-right: 1px dashed #DDD
        font-family: Monaco, monospace
        font-size: 11px
        line-height: 16px
        margin: 5px 0px
        padding-right: 2px
        text-align: right
