@import codemirror2/codemirror

.console
  font-size: 13px
  font-family: monospace
  padding: 2px
  width: 400px

  & >
    .actions
      margin-bottom: 0.5em

      button
        margin-left: 0
        margin-right: 6px

    textarea, .output
      font-size: 13px
      font-family: monospace

    .output
      height: 20px
      margin: 4px 0
      overflow: auto
