%h1 GreasyThug Configuration

%form
  %fieldset
    %legend Options
    - options = %w[autorun autoshow logging display_remote_scripts]

    - options.each do |option|
      %p= partial "checkbox", :locals => {:name => option}
      :javascript
        get('#{option}', function(value) {
          $('input[name=#{option}]').attr('checked', value != 0);
        });

:javascript
  $("input[type='checkbox']").change(function() {
    $this = $(this);
    
    set($this.attr('name'), $this.attr('checked') ? '1' : '0');
  });
