:javascript
  localStorage["count"] = parseInt(localStorage["count"], 10) + 1;
  
  $('body').append("count: " + localStorage["count"]);
  $('body').append("clickCount: " + localStorage["clickCount"]);
  $('body').append("tab: " + localStorage["tab"]);


