- options = %w[autorun autoshow]

- options.each do |option|
  = partial "checkbox", :locals => {:name => option}
  :javascript
    get('#{option}', function(value) {
      $('input[name=#{option}]').attr('checked', value != 0);
    });

:javascript
  $("input[type='checkbox']").change(function() {
    $this = $(this);
    
    set($this.attr('name'), $this.attr('checked') ? '1' : '0');
  });
