- @layout = :test

%h1#qunit-header QUnit example
%h2#qunit-banner
%h2#qunit-userAgent
%ol#qunit-tests


:javascript
  $(function() {
    test("a basic test example", function() {
      ok( true, "this test is fine" );
      var value = "hello";
      equals( "hello", value, "We expect value to be hello" );
    });
  });