!minWidth = 300px

#strd6-GreasyThugConsole
  background-color: black
  color: green
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,
  padding-top: 0px
  position: absolute
  font-weight: bold
  text-align: left
  width: auto
  z-index: 1000
  
  .handle
    background-color: #222
    min-width= !minWidth
    padding: 2px 4px
    overflow: hidden
    width: auto
    
  .outputBuffer
    height: 250px
    min-width= !minWidth
    max-width: 600px
    overflow: auto
    padding: 4px
    width: auto

  form
    display: block
    min-width= !minWidth
    width: auto
    textarea
      display: block
      min-width= !minWidth
      
    .execute
      float: right
      margin-right: 20px

    .save
      margin-left: 40px