!!!
%html
  %head
    %title Greasy Thug
    = stylesheets
    = stylesheets 'dark-hive/jquery-ui-1.8rc2.custom'
    = javascripts('jquery-1.4.2.min', 'jquery-ui-1.8rc2.custom.min', 'util')
  %body
    = yield
