!!!
%html
  %head
    %title Greasy Thug
    = stylesheet_link_tag 'application', 'dark-hive/jquery-ui-1.8rc2.custom'
    = javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8rc2.custom.min', 'util'
  %body
    = yield
