!!!
%html
  %head
    %title Greasy Thug
    = stylesheet_link_tag 'static/qunit', 'content_script', 'dark-hive/jquery-ui-1.8.17.custom'
    = javascript_include_tag 'lib/jquery-1.7.1.min', 'lib/jquery-ui-1.8.17.custom.min', 'lib/qunit', 'test'
  %body
    = yield
